<header>
  <div id="left"></div>
    <div id="right"></div>
    <div class="container">
      <a id="logo">ЯКУТСК</a>
      <nav>
        <ul>
          <li><a href="">Главная</a></li>
         <li><a href="City">Информация о населении</a></li>
         <li><a href="Me">О разработчице</a></li>
        </ul>
      </nav>
    </div>
</header>
    <div id="main">
      <p> <img class="img" src="assets/img/number.png"></p>
        <ul>
            <li>Население Якутска на 1 января 2022 года составляет 330615 человек.</li>
            <br>
            <li>На 1 января 2021 года по численности населения город находился на 59-м месте из 1116 городов Российской Федерации.</li>
            <br>
            <li>Якутск — многонациональный город.
              Большинство составляют якуты (саха) — 141 тыс. чел. и русские — 113 тыс. чел. Также проживают эвенки, эвены и другие.</li>
        </ul>
    </div>
