<div class="site-page-header-ghost-wrapper">
  <nz-page-header nzBackIcon [nzGhost]="false">
    <nz-page-header-title>Якутск</nz-page-header-title>
      <nz-page-header-extra>
        <nz-space>
          <a nz-button nzType="link" href=" " class="button-menu">Главная</a>
        <a nz-button nzType="link" href="City" class="button-menu">Население</a>
        <a nz-button nzType="link" href="Me" class="button-menu">О разработчике</a>
        <a nz-button nzType="link" href="List" class="button-menu">Список пользователей</a>
        </nz-space>
      </nz-page-header-extra>

    <nz-page-header-content>
      <div nz-row nzJustify="space-around" nzAlign="middle">
        <div nz-col nzFlex="1"></div>
        <div nz-col nzFlex="2">
      <img
        nz-image
        width="300px"
        height="400px"
        nzSrc="assets/img/me.jpg"
        alt=""
      />
    </div>

    <div nz-col nzFlex="0.3"></div>

    <div nz-col nzFlex="13">
      <p nz-typography class="height-100">
      <h1 nz-typography class="p_center">
      <span nz-typography>Алина Федорова</span>
      </h1>
      <p nz-typography class="p">Родилась 12 апреля 2002 года. Этот день знаменит первым полетом человека в космос.</p>
      <p nz-typography class="p">Обучалась в МБОУ СОШ им. А.А. Константиновой п. Эльдикан,
          а также МБОУ СОШ № 1 им. М. П. Кочнева г. Нерюнгри. Закончила старшую школу в классе с информационно-технологическим уклоном. </p>
      <p nz-typography class="p">В настоящий момент является студенткой СибГУТИ на направлении "Прикладная информатика в экономике".<p>
    </div></div>
    </nz-page-header-content>

  </nz-page-header>
</div>
