<div class="site-page-header-ghost-wrapper">
  <nz-page-header nzBackIcon [nzGhost]="false">
    <nz-page-header-title>Якутск</nz-page-header-title>
    <nz-page-header-extra>
      <nz-space>
        <a nz-button nzType="link" href=" " class="button-menu">Главная</a>
        <a nz-button nzType="link" href="City" class="button-menu">Население</a>
        <a nz-button nzType="link" href="Me" class="button-menu"
          >О разработчике</a
        >
      </nz-space>
    </nz-page-header-extra>
    <nz-page-header-content>
      <div nz-row nzJustify="space-around" nzAlign="middle">
        <div nz-col nzFlex="0.3"></div>
        <div nz-col nzFlex="5">
          <p class="height-100"></p>
          <h4 nz-typography>Пользователь:</h4>
          <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <label>Имя:</label>
            <input nz-input formControlName="name" />
            <br/>
            <br/>
            <label>Роль:</label>
            <input nz-input formControlName="role" />
            <br/>
            <br/>
            <label>Логин:</label>
            <input nz-input formControlName="login" />
            <br/>
            <br/>
            <label>Пароль:</label>
            <input nz-input formControlName="password" />
            <button
              nz-button
              nzType="primary"
              type="submit"
              (ngsubmit)="onSubmit()"
            >
              Сохранить
            </button>
          </form>
        </div>
      </div>
      <br />
      <div></div>
    </nz-page-header-content>
  </nz-page-header>
</div>
