<header>
  <div id="left"></div>
  <div id="right"></div>
  <div class="container">
    <a id="logo">ЯКУТСК</a>
    <nav>
      <ul>
        <li><a href="">Главная</a></li>
        <li><a href="City">Информация о населении</a></li>
        <li><a href="Me">О разработчице</a></li>
      </ul>
    </nav>
  </div>
</header>
  <div id="main">
    <p> <img class="img_me" src="assets/img/me.jpg"></p>
    <h1 class="p_center">
        <span>Алина Федорова</span></h1>
    <p>&nbsp;&nbsp;&nbsp; Родилась 12 апреля 2002 года. Этот день знаменит первым полетом человека в космос.</p>
    <p>&nbsp;&nbsp;&nbsp; Обучалась в МБОУ СОШ им. А.А. Константиновой п. Эльдикан,
        а также МБОУ СОШ № 1 им. М. П. Кочнева г. Нерюнгри. Закончила старшую школу в классе с информационно-технологическим уклоном. </p>
    <p>&nbsp;&nbsp;&nbsp; В настоящий момент является студенткой СибГУТИ на направлении "Прикладная информатика в экономике".</p>
  </div>
