<div class="site-page-header-ghost-wrapper">
  <nz-page-header nzBackIcon [nzGhost]="false">
    <nz-page-header-title>Якутск</nz-page-header-title>
    <nz-page-header-extra>
      <nz-space>
        <a nz-button nzType="link" href=" " class="button-menu">Главная</a>
        <a nz-button nzType="link" href="City" class="button-menu">Население</a>
        <a nz-button nzType="link" href="Me" class="button-menu"
          >О разработчике</a
        >
      </nz-space>
    </nz-page-header-extra>
    <nz-page-header-content>
      <div nz-row nzJustify="space-around" nzAlign="middle">
        <div nz-col nzFlex="0.3"></div>
        <div nz-col nzFlex="5">
          <p class="height-100"></p>
          <h4 nz-typography>Добавить пользователя в список:</h4>

          <form nz-form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <nz-table #basicTable nzTemplateMode>
              <thead>
                <tr>
                  <th>Имя</th>
                  <th>Роль</th>
                  <th>Логин</th>
                  <th>Пароль</th>
                  <th>Действия</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <input
                      nz-input
                      type="text"
                      formControlName="izm"
                      id="myForm"
                    />
                  </td>
                  <td>
                    <input
                      nz-input
                      type="text"
                      formControlName="role"
                      id="myForm"
                    />
                  </td>
                  <td>
                    <input
                      nz-input
                      type="text"
                      formControlName="login"
                      id="myForm2"
                    />
                  </td>
                  <td>
                    <input
                      nz-input
                      type="text"
                      formControlName="password"
                      id="myForm3"
                    />
                  </td>
                  <td>
                    <button nz-button type="submit">Добавить</button>
                    <nz-divider nzType="vertical"></nz-divider>
                  </td>
                </tr>
              </tbody>
            </nz-table>
          </form>
          <form
            nz-form
            [formGroup]="myForm"
            *ngFor="let value of taskList; index as i"
          >
            <nz-table #basicTable nzTemplateMode>
              <thead></thead>
              <tbody>
                <tr>
                  <td>{{ this.value.name.izm }}</td>
                  <td>
                    {{ this.value.name.role }}
                  </td>
                  <td>
                    {{ this.value.name.login }}
                  </td>
                  <td>
                    {{ this.value.name.password }}
                  </td>
                  <td>
                    <button
                      nz-button
                      type="submit"
                      [routerLink]="['/UsersEdit', i]"
                    >
                      Изменить
                    </button>
                  </td>
                </tr>
              </tbody>
            </nz-table>
          </form>
        </div>
      </div>
      <br />
    </nz-page-header-content>
  </nz-page-header>
</div>
